# Covid-19 Dashboard's Dataset
By Abdullah Almuzaini

## Table of Contents
- [Introduction](#intro)
- [Part I - Data Gathering](#Gathering)
- [Part II - Preparing Data](#Preparing)
- [Part III- Exploring the datasets](#Exploring)
- [Part IV- Exporting the datasets](#Exporting)



## <a id='intro'> Introduction </a>

<p style="font-size:18px">The first step in my project is to collect the data needed when building up the dashboard. Second, after gathering the data I need, I will have to prepare the datasets downloaded in the first step. By preparing the data I mean assessing and doing some cleaning process. Lastly, when all the data needed for the project is collected and be in the proper format and shape, it has to be extracted from this notebook and stored in the project dataset folder in the project directory. These Processes require using some python scripts I need to write and libraries, which I will be describing next. </p><br>

In [1]:
import pandas as pd


from create_new_directory import new_folder
from get_dataset import get_dataset
from reshape_dataset import reshape

## <a id='Gathering'>Gathering Data </a>

<p style="font-size:18px">The python scripts I will be using this part of the project are:<br><br>
    - <b>create_new_directory.py:</b> which contains the method <b>new_folder()</b> that takes a string variable as a folder name. The purpose of this little script is to create a new directory inside the current working directory. For now, it will be used to create a new directory in which the datasets will be stored. <br><br>
    - <b>get_dataset.py:</b> the function downloads the dataset from the internet using requests library and
        save it in the 'dataset' directory inside the current running direcroty. It takes two arguments one is the URL, and the second argument is file name which should includ the file format `csv` for example. <br><br><b>

    
    
</p>

#### Collect the daily covid-19 confirmed cases dataset

In [2]:
# Create a new directory in the current running directory if it does not exist 

folder_name = 'dataset'
new_folder(folder_name)

In [3]:
# Download the confirmed covid-19 cases from its source https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

URL = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
file_name = 'covid19_confirmed_cases.csv'

# The functoin of get_dataset takes url and file name
data = get_dataset(URL,file_name)
confirmed_df = pd.read_csv('dataset'+ '/'+file_name)

In [4]:
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/8/21,11/9/21,11/10/21,11/11/21,11/12/21,11/13/21,11/14/21,11/15/21,11/16/21,11/17/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,156397,156397,156414,156456,156487,156510,156552,156610,156649,156739
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,189355,190125,190815,191440,192013,192600,193075,193269,193856,194472
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,207254,207385,207509,207624,207764,207873,207970,208104,208245,208380
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,15705,15717,15744,15744,15819,15819,15819,15907,15929,15972
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,64724,64762,64815,64857,64875,64899,64913,64913,64940,64968

#### Collect the daily covid-19 death cases dataset

In [5]:
# Download the death covid-19 cases from its source https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

URL = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
file_name = 'covid19_death_cases.csv'

# The functoin of get_dataset takes url and file name
data = get_dataset(URL,file_name)
death_df = pd.read_csv('dataset'+ '/'+file_name)

death_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/8/21,11/9/21,11/10/21,11/11/21,11/12/21,11/13/21,11/14/21,11/15/21,11/16/21,11/17/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7288,7290,7291,7292,7292,7292,7293,7294,7295,7297
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2966,2970,2975,2978,2983,2986,2990,2997,3004,3014
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,5950,5954,5960,5966,5971,5977,5984,5991,5997,6005
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,130,130,130,130,130,130,130,130,130,130
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1721,1723,1723,1725,1726,1727,1727,1727,1729,1729

#### Collect the data of the daily recovery from covid19

In [6]:
URL = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
file_name = 'covid19_recovered_cases.csv'

# The functoin of get_dataset takes url and file name
data = get_dataset(URL,file_name)
recovery_df = pd.read_csv('dataset'+ '/'+file_name)

recovery_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/8/21,11/9/21,11/10/21,11/11/21,11/12/21,11/13/21,11/14/21,11/15/21,11/16/21,11/17/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

> <p style="font-size:18px"><br>
    Now, we have three datasets downloaded and stored in the dataset directory. The dataset are in the wide format as they appear above. 
    </p>

## <a id='Preparing'>Part II- Preparing Data</a>

<p style="font-size:18px">  - In this part of the project, I will need to use the following python script: <br><br>
    - <b>reshape_dataset.py:</b> the function contains a method called <b>reshape()</b> that transforms the dataset from the wide format into the long format using the pandas function melt(). The method takes three arguments. One is the dataframe. The second one is variable name, the column name.
    
</p>

#### Prepare the three datasets to be in an appropriate format and shape by converting them from the wide format to the long format.

In [7]:
confirmed = reshape(confirmed_df,
               'date',
               'confirmed')
confirmed.shape

(186480, 6)

In [8]:
confirmed.sample(5)

      Province/State Country/Region        Lat        Long     date  confirmed
59746            NaN       Djibouti  11.825100   42.590300  8/22/20       5382
45637            NaN          Yemen  15.552727   48.516388   7/2/20       1221
60754            NaN      Venezuela   6.423800  -66.589700  8/25/20      41158
28201            NaN          Niger  17.607789    8.081666   5/1/20        728
50095            NaN             US  40.000000 -100.000000  7/18/20    3718482

In [9]:
death = reshape(death_df,
               'date',
               'deaths')
death.shape

(186480, 6)

In [10]:
death.tail(5)

,Province/State,Country/Region,Lat,Long,date,deaths
186475,NaN,Vietnam,14.058324,108.277199,11/17/21,23337
186476,NaN,West Bank and Gaza,31.952200,35.233200,11/17/21,4764
186477,NaN,Yemen,15.552727,48.516388,11/17/21,1929
186478,NaN,Zambia,-13.133897,27.849332,11/17/21,3666
186479,NaN,Zimbabwe,-19.015438,29.154857,11/17/21,4699

In [11]:
recovery = reshape(recovery_df,
               'date',
               'recovery')
recovery.shape

(176490, 6)

In [12]:
recovery.sample(5)

,Province/State,Country/Region,Lat,Long,date,recovery
100560,NaN,Guinea-Bissau,11.803700,-15.18040,2/4/21,2427
97862,NaN,Colombia,4.570900,-74.29730,1/25/21,1849194
74656,NaN,Pakistan,30.375300,69.34510,10/29/20,313527
145765,Western Australia,Australia,-31.950500,115.86050,7/25/21,1030
64059,NaN,Papua New Guinea,-6.314993,143.95555,9/19/20,232

><p style="font-size:18px"><br>
    As we can see above, the datasets are now looking in a suitable format. I have transformed the columns after the Long column, which represent the date of each day in the dataset from January 22, 2020, till September 25, 2021, into one column called date and stored all the values under each of the date columns in a new variable called recovery in the recovery dataset, deaths in the death dataset, and confirmed in the confirmed dataset. 
    </p><br>

## <a id='Exploring'> Part III- Exploring the datasets</a>

<p style="font-size:18px"><br>
    Next, I will explore the datasets taking advantage of the pandas method info(), which will return general information about each dataset such as the number of records, the name of the variables we have, the count of the non-null records, as well as the data type of each column.<br>
    </p>

In [13]:
confirmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186480 entries, 0 to 186479
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  57942 non-null   object
 1   Country/Region  186480 non-null  object
 2   Lat             185148 non-null  float64
 3   Long            185148 non-null  float64
 4   date            186480 non-null  object
 5   confirmed       186480 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 8.5+ MB

In [14]:
death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186480 entries, 0 to 186479
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  57942 non-null   object
 1   Country/Region  186480 non-null  object
 2   Lat             185148 non-null  float64
 3   Long            185148 non-null  float64
 4   date            186480 non-null  object
 5   deaths          186480 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 8.5+ MB

In [15]:
recovery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176490 entries, 0 to 176489
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  47286 non-null   object
 1   Country/Region  176490 non-null  object
 2   Lat             175824 non-null  float64
 3   Long            175824 non-null  float64
 4   date            176490 non-null  object
 5   recovery        176490 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 8.1+ MB

> <p style="font-size:18px"><br> According to the above summary about the confirmed and death dataframes, we have some missing values in the Province/State, Lat, and Long columns. We also can see that the column data is not in the proper format. Furthermore, the confirmed and death datasets are a match. However, the recovery dataset has overall less records than the other two and has more missing values that needs to be inspected to find out what the issue is. 
    </p><br>

<p style="font-size:18px"><br>
In the next cell, I will make copies of three datasets, and the copies will contain only records with NaN values in the `Province/State` to find out where the issue is. 
    </p><br>

In [16]:
# Storing only rows with null values in ['Province/State'] column

recovery_na = recovery[recovery['Province/State'].isna()]
confirmed_na = confirmed[confirmed['Province/State'].isna()]
death_na = death[death['Province/State'].isna()]

<p style="font-size:18px"><br>
Next I will use pandas.DataFrame.sample to return a random samples form the above sub-datasets to invistigate the issue.
    </p><br>

In [17]:
recovery_na.sample(20)

,Province/State,Country/Region,Lat,Long,date,recovery
110735,NaN,Taiwan*,23.700000,121.000000,3/14/21,950
8485,NaN,Antigua and Barbuda,17.060800,-61.796400,2/23/20,0
9408,NaN,Indonesia,-0.789300,113.921300,2/26/20,0
140904,NaN,Norway,60.472000,8.468900,7/6/21,17998
142736,NaN,Mauritania,21.007900,-10.940800,7/13/21,20395
144150,NaN,United Kingdom,55.378100,-3.436000,7/18/21,0
140576,NaN,Guyana,4.860416,-58.930180,7/5/21,18354
56011,NaN,El Salvador,13.794200,-88.896500,8/20/20,11558
91026,NaN,Iceland,64.963100,-19.020800,12/30/20,5578
155056,NaN,Brunei,4.535300,114.727700,8/29/21,0
64551,NaN,Lithuania,55.169400,23.881300,9/21/20,2567
49698,NaN,Kenya,-0.023600,37.906200,7/27/20,7833
97214,NaN,Sudan,12.862800,30.217600,1/22/21,15688
102759,NaN,Saint Kitts and Nevis,17.357822,-62.782998,2/12/21,38
22223,NaN,Switzerland,46.818200,8.227500,4/14/20,13700
167720,NaN,US,40.000000,-100.000000,10/15/21,0
35950,NaN,Mozambique,-18.665700,35.529600,6/5/20,119
79497,NaN,Yemen,15.552727,48.516388,11/16/20,1378
36268,NaN,Switzerland,46.818200,8.227500,6/6/20,28700
68928,NaN,Bosnia and Herzegovina,43.915900,17.679100,10/8/20,22939

In [18]:
confirmed_na.sample(20)

,Province/State,Country/Region,Lat,Long,date,confirmed
160971,NaN,Tonga,-21.179000,-175.198200,8/18/21,0
100422,NaN,Mauritius,-20.348404,57.552152,1/14/21,547
35857,NaN,Azerbaijan,40.143100,47.576900,5/29/20,4989
149821,NaN,Barbados,13.193900,-59.543200,7/10/21,4136
132060,NaN,Marshall Islands,7.131500,171.184500,5/7/21,4
107979,NaN,Malta,35.937500,14.375400,2/10/21,19182
118819,NaN,Cuba,21.521757,-77.781167,3/21/21,66758
94583,NaN,San Marino,43.942400,12.457800,12/24/20,2206
120377,NaN,Ukraine,48.379400,31.165600,3/26/21,1665001
12563,NaN,Switzerland,46.818200,8.227500,3/6/20,214
16517,NaN,Yemen,15.552727,48.516388,3/20/20,0
121197,NaN,Spain,40.463667,-3.749220,3/29/21,3270825
4135,NaN,Qatar,25.354800,51.183900,2/5/20,0
26503,NaN,Mexico,23.634500,-102.552800,4/25/20,13842
17319,NaN,Sudan,12.862800,30.217600,3/23/20,2
84807,NaN,Tanzania,-6.369028,34.888822,11/19/20,509
25791,NaN,Brunei,4.535300,114.727700,4/23/20,138
134532,NaN,Gambia,13.443200,-15.310100,5/16/21,5940
31026,NaN,Senegal,14.497400,-14.452400,5/11/20,1886
135093,NaN,Georgia,42.315400,43.356900,5/18/21,332441

In [19]:
death_na.sample(20)

,Province/State,Country/Region,Lat,Long,date,deaths
122287,NaN,Palau,7.515000,134.582500,4/2/21,0
182302,NaN,Belarus,53.709800,27.953400,11/3/21,4679
92683,NaN,Andorra,42.506300,1.521800,12/18/20,80
159482,NaN,Kuwait,29.311660,47.481766,8/13/21,2383
133744,NaN,Micronesia,7.425600,150.550800,5/13/21,0
176426,NaN,Bhutan,27.514200,90.433600,10/13/21,3
72909,NaN,Ecuador,-1.831200,-78.183400,10/8/20,12141
99796,NaN,Ethiopia,9.145000,40.489700,1/12/21,2004
55456,NaN,Austria,47.516200,14.550100,8/7/20,720
82566,NaN,Tajikistan,38.861000,71.276100,11/11/20,84
184950,NaN,Iraq,33.223191,43.679291,11/12/21,23471
101595,NaN,South Africa,-30.559500,22.937500,1/18/21,37449
31831,NaN,Namibia,-22.957600,18.490400,5/14/20,0
42856,NaN,Austria,47.516200,14.550100,6/23/20,693
141235,NaN,Eswatini,-26.522500,31.465900,6/9/21,676
150531,NaN,Lithuania,55.169400,23.881300,7/12/21,4400
27944,NaN,Sao Tome and Principe,0.186400,6.613100,4/30/20,0
102367,NaN,Lesotho,-29.610000,28.233600,1/21/21,103
110010,NaN,Togo,8.619500,0.824800,2/17/21,81
58657,NaN,Grenada,12.116500,-61.679000,8/18/20,0

> <p style="font-size:18px"><br> 
    After Running the above three cells several times, it turns out that the reason for the null values in the column `Province/State` is that many countries did not report covid-19 cases by Province/State. Instead, they just counted the covid-19 cases for the entire country as a whole. However, there is one country that did not constantly report the cases. That country is Canada. Canada reports covid-19 deaths and confirmed cases by the Province/State, but they do not count the recovery cases in the same way. They report the recovery cases for the entire country as a whole without considering the Province/State. This issue would raise an issue when merging the three datasets. <br><br> </p><br>


<p style="font-size:18px"><br> The following three cells will demonstrate the issue of Canada's covid-19 reporting method
   </p> <br>

In [20]:
death_na[death_na['Country/Region']== "Canada"]

Empty DataFrame
Columns: [Province/State, Country/Region, Lat, Long, date, deaths]
Index: []

In [21]:
confirmed_na[confirmed_na['Country/Region']== "Canada"]

Empty DataFrame
Columns: [Province/State, Country/Region, Lat, Long, date, confirmed]
Index: []

In [22]:
recovery_na[recovery_na['Country/Region']== "Canada"]

       Province/State Country/Region      Lat      Long      date  recovery
39                NaN         Canada  56.1304 -106.3468   1/22/20         0
304               NaN         Canada  56.1304 -106.3468   1/23/20         0
569               NaN         Canada  56.1304 -106.3468   1/24/20         0
834               NaN         Canada  56.1304 -106.3468   1/25/20         0
1099              NaN         Canada  56.1304 -106.3468   1/26/20         0
...               ...            ...      ...       ...       ...       ...
175204            NaN         Canada  56.1304 -106.3468  11/13/21         0
175469            NaN         Canada  56.1304 -106.3468  11/14/21         0
175734            NaN         Canada  56.1304 -106.3468  11/15/21         0
175999            NaN         Canada  56.1304 -106.3468  11/16/21         0
176264            NaN         Canada  56.1304 -106.3468  11/17/21         0

[666 rows x 6 columns]

<p style="font-size:18px"><br> 
In order to resolve the above issue, I will recalculate the deaths and confirmed cases of Covid-19 in Canada by the Country to match the recovery dataset. 
    </p><br>

<p style="font-size:18px"><br> 
    The first step we need to take is to fetch confirmed cases and deaths records of Canada and aggregate them by `date`, then store them in a separate sub-data frame
    </p><br>

In [23]:
canada_conf = confirmed[confirmed['Country/Region'] == 'Canada'].groupby('date').sum()[['confirmed']]
canada_conf.head()

         confirmed
date
1/1/21      591149
1/10/21     666375
1/11/21     674624
1/12/21     681015
1/13/21     688097

In [24]:
canada_dth = death[death['Country/Region'] == 'Canada'].groupby('date').sum()[['deaths']]
canada_dth.head()

         deaths
date
1/1/21    15806
1/10/21   17074
1/11/21   17199
1/12/21   17359
1/13/21   17539

<p style="font-size:18px"><br> 
    The next step is to copy the recovery dataframe without including the `recovery` column. The reason is that I want to apply these columns on death and confirmed cases dataframes to make the death and confirmed cases calculated for the entire country as a whole instead of by Province/State, so they eventually  match the recovery dataframe
    </p><br>

In [25]:
canada_recovery = recovery[recovery['Country/Region'] == 'Canada'][recovery.columns[:-1]].reset_index(drop=True)
canada_recovery.head()

  Province/State Country/Region      Lat      Long     date
0            NaN         Canada  56.1304 -106.3468  1/22/20
1            NaN         Canada  56.1304 -106.3468  1/23/20
2            NaN         Canada  56.1304 -106.3468  1/24/20
3            NaN         Canada  56.1304 -106.3468  1/25/20
4            NaN         Canada  56.1304 -106.3468  1/26/20


<p style="font-size:18px"><br> 
    Now, we are set to join and apply `canada_recovery` on the `canada_conf` and `canada_dth` 
    </p><br>

In [26]:
canada_covid_19_conf = canada_recovery.merge(canada_conf, how='inner', left_on='date', right_index=True)
canada_covid_19_conf.head()

  Province/State Country/Region      Lat      Long     date  confirmed
0            NaN         Canada  56.1304 -106.3468  1/22/20          0
1            NaN         Canada  56.1304 -106.3468  1/23/20          0
2            NaN         Canada  56.1304 -106.3468  1/24/20          0
3            NaN         Canada  56.1304 -106.3468  1/25/20          0
4            NaN         Canada  56.1304 -106.3468  1/26/20          1

In [27]:
canada_covid_19_conf.tail()

    Province/State Country/Region      Lat      Long      date  confirmed
661            NaN         Canada  56.1304 -106.3468  11/13/21    1755074
662            NaN         Canada  56.1304 -106.3468  11/14/21    1756452
663            NaN         Canada  56.1304 -106.3468  11/15/21    1760822
664            NaN         Canada  56.1304 -106.3468  11/16/21    1762638
665            NaN         Canada  56.1304 -106.3468  11/17/21    1765164

In [28]:
canada_covid_19_deaths = canada_recovery.merge(canada_dth, how='inner', left_on='date', right_index=True)
canada_covid_19_deaths.head()

  Province/State Country/Region      Lat      Long     date  deaths
0            NaN         Canada  56.1304 -106.3468  1/22/20       0
1            NaN         Canada  56.1304 -106.3468  1/23/20       0
2            NaN         Canada  56.1304 -106.3468  1/24/20       0
3            NaN         Canada  56.1304 -106.3468  1/25/20       0
4            NaN         Canada  56.1304 -106.3468  1/26/20       0

In [29]:
canada_covid_19_deaths.tail()

    Province/State Country/Region      Lat      Long      date  deaths
661            NaN         Canada  56.1304 -106.3468  11/13/21   29376
662            NaN         Canada  56.1304 -106.3468  11/14/21   29385
663            NaN         Canada  56.1304 -106.3468  11/15/21   29435
664            NaN         Canada  56.1304 -106.3468  11/16/21   29458
665            NaN         Canada  56.1304 -106.3468  11/17/21   29485

> <p style="font-size:18px"><br> 
    Finally, we have Canada's Covid-19 information matched in the three dataframes
</p><br><br>
<p style="font-size:18px"><br> 
   Now, we need to put Canada's data back in the original dataframes (`confirmed`, `death`) by copying the dataframes excluding records of Canada, then insert Canada's data from (`canada_covid_19_deaths` and `canada_covid_19_conf`)
</p><br>

In [30]:
confirmed = confirmed[confirmed['Country/Region'] != 'Canada'].append(canada_covid_19_conf)
confirmed.head()

  Province/State Country/Region       Lat       Long     date  confirmed
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

In [31]:
death = death[death['Country/Region'] != 'Canada'].append(canada_covid_19_deaths)
death.head()

  Province/State Country/Region       Lat       Long     date  deaths
0            NaN    Afghanistan  33.93911  67.709953  1/22/20       0
1            NaN        Albania  41.15330  20.168300  1/22/20       0
2            NaN        Algeria  28.03390   1.659600  1/22/20       0
3            NaN        Andorra  42.50630   1.521800  1/22/20       0
4            NaN         Angola -11.20270  17.873900  1/22/20       0

<p style="font-size:18px"><br> 
    To make sure that the three dataframes match, I will run the same test I did here.
    <p><br>

In [32]:
recovery_na = recovery[recovery['Province/State'].isna()]
confirmed_na = confirmed[confirmed['Province/State'].isna()]
death_na = death[death['Province/State'].isna()]

In [33]:
print(confirmed_na[confirmed_na['Country/Region']== "Canada"].shape)
print(recovery_na[recovery_na['Country/Region']== "Canada"].shape)
print(death_na[death_na['Country/Region']== "Canada"].shape)

(666, 6)
(666, 6)
(666, 6)

> <p style="font-size:18px"><br> The three dataframes now are matched </p>

<p style="font-size:18px"><br> The Final Step is to combine the three datasets into one master dataset
    </p><br>

In [34]:
columns = ['Country/Region','Province/State','date']
master_df = confirmed.merge(death, how='inner', on=columns)
master_df = master_df.merge(recovery, how='inner', on=columns)
master_df = master_df.drop(columns=['Lat_x', 'Long_x','Lat_y','Long_y'])
master_df = master_df[['Country/Region','Province/State','Lat','Long','date', 'confirmed','recovery','deaths']]
master_df.head()

,Country/Region,Province/State,Lat,Long,date,confirmed,recovery,deaths
0,Afghanistan,NaN,33.93911,67.709953,1/22/20,0,0,0
1,Albania,NaN,41.15330,20.168300,1/22/20,0,0,0
2,Algeria,NaN,28.03390,1.659600,1/22/20,0,0,0
3,Andorra,NaN,42.50630,1.521800,1/22/20,0,0,0
4,Angola,NaN,-11.20270,17.873900,1/22/20,0,0,0

> <p style="font-size:18px"><br> Now, we have a dataframe containing all the covid-19 data we need and in the proper format.
    </p><br>

<p style="font-size:18px"><br> 
    After having the covid-19 data downloaded and almost prepared, there is only one last step to make the all the data ready for my fueature analysis. The data we have so far needs the population information for each country. Thus, I will add the population information to the my dataset list, and the population dataset I will be using is <a href='https://www.kaggle.com/tanuprabhu/population-by-country-2020'>Population by Country - 2020</a> by <a href='https://www.kaggle.com/tanuprabhu'>Tanu N Prabhu</a>.

<p style="font-size:18px"><br> 
    To download the dataset, I will need to use <a href='https://github.com/Kaggle/kaggle-api'>Kaggle API</a>. Kaggle API is an API that can be used to interact with the Kaggle website through the command line. The use of the Kaggle can be downloading and uploading datasets or interacting with competitions.

In [35]:
# Download the population dataset from its source https://www.kaggle.com/tanuprabhu/population-by-country-2020
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

api.dataset_download_files('tanuprabhu/population-by-country-2020', path = 'dataset',  unzip=True)
population_df = pd.read_csv('dataset/population_by_country_2020.csv')
population_df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

<p style="font-size:18px"> After downloading the dataset, the first thing I would like to check is the matching of the countries names. </p>

In [36]:
countries_covid = master_df['Country/Region'].unique()
countries_pop = population_df['Country (or dependency)'].unique()
unmatched = [x for x in countries_covid if x not in countries_pop]
print(unmatched)
print(len(unmatched))
print([x for x in countries_pop if x not in countries_covid])

['Burma', 'Congo (Brazzaville)', 'Congo (Kinshasa)', "Cote d'Ivoire", 'Czechia', 'Diamond Princess', 'Korea, South', 'Kosovo', 'MS Zaandam', 'Saint Kitts and Nevis', 'Saint Vincent and the Grenadines', 'Sao Tome and Principe', 'Summer Olympics 2020', 'Taiwan*', 'US', 'West Bank and Gaza']
16
['United States', 'DR Congo', 'Myanmar', 'South Korea', "CÃ´te d'Ivoire", 'North Korea', 'Taiwan', 'Czech Republic (Czechia)', 'Hong Kong', 'Turkmenistan', 'Congo', 'State of Palestine', 'Puerto Rico', 'RÃ©union', 'Macao', 'Western Sahara', 'Guadeloupe', 'Martinique', 'French Guiana', 'New Caledonia', 'French Polynesia', 'Mayotte', 'Sao Tome & Principe', 'Channel Islands', 'Guam', 'CuraÃ§ao', 'St. Vincent & Grenadines', 'Aruba', 'U.S. Virgin Islands', 'Isle of Man', 'Cayman Islands', 'Bermuda', 'Northern Mariana Islands', 'Greenland', 'American Samoa', 'Saint Kitts & Nevis', 'Faeroe Islands', 'Sint Maarten', 'Turks and Caicos', 'Saint Martin', 'Gibraltar', 'British Virgin Islands', 'Caribbean Netherlands', 'Cook Islands', 'Anguilla', 'Tuvalu', 'Wallis & Futuna', 'Nauru', 'Saint Barthelemy', 'Saint Helena', 'Saint Pierre & Miquelon', 'Montserrat', 'Falkland Islands', 'Niue', 'Tokelau']

<p style="font-size:18px"> There is 13 unmatched countries and 2 Cruises (Diamond Princess and MS Zaandam) and the Summer Olympics 2020. The way to fix the unmatched countries names is by simply replacing them directly from the dataframe, and I will leave the other four for later analysis. </p>

<p style="font-size:18px">

In [37]:
country_mapper = {
    'Congo (Brazzaville)': 'Congo',
    'Congo (Kinshasa)': 'DR Congo',
    "Cote d'Ivoire": "CÃ´te d'Ivoire",
    'Czechia': 'Czech Republic (Czechia)',
    'Korea, South': 'South Korea',
    'Saint Vincent and the Grenadines': 'St. Vincent & Grenadines',
    'Taiwan*': 'Taiwan',
    'US': 'United States',
    'West Bank and Gaza': 'Israel',
    'Saint Kitts and Nevis': 'Saint Kitts & Nevis',
    'Burma': 'Myanmar',
    'Sao Tome and Principe': 'Sao Tome & Principe'
}
master_df['Country/Region'] = master_df['Country/Region'].replace(country_mapper)

In [38]:
countries_covid = master_df['Country/Region'].unique()
[x for x in countries_covid if x not in countries_pop]

['Diamond Princess', 'Kosovo', 'MS Zaandam', 'Summer Olympics 2020']

> <p style="font-size:18px"> Now we don't have any mismatchs within the countries names.</p>

## <a id='Exporting'>Part IV- Exporting the datasets</a>

<p style="font-size:18px"> The last remaining step is to export the datasets since they are almost ready to be uploaded on Tableau </p>

In [39]:
master_df.to_csv('dataset/COVID-19.csv')